<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
>
	<testsuites>
		<testsuite name="etbs-notice-banner">
			<directory suffix="Test.php">./tests/phpunit</directory>
		</testsuite>
	</testsuites>
</phpunit>
